* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Press Start 2P", "Courier New", Courier, monospace;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

ul li {
  list-style: none;
}

button,
input,
textarea,
a {
  outline: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

button,
a,
label,
select,
option {
  cursor: pointer;
}

a {
  text-decoration: none;
}
