html {
  body {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    grid-template-areas:
      "Header"
      "Main";
    div.Demo {
      margin: 1px;
      padding: 2px 4px;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 2px;
    }
    header {
      grid-area: Header;
      h1 {
        padding: 10px 0;
        background-color: #00a7ca;
        border-radius: 10px;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
      }
    }
    main {
      grid-area: Main;
      display: flex;
      align-items: center;
      justify-content: center;
      div.Jogo {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto) 1fr auto;
        gap: 6px 6px;
        grid-template-areas:
          "Nome Nome"
          "Estado Estado"
          "Imagem BtnsAcoes"
          "BtnsLugar BtnsLugar";
        div.Nome {
          background-color: red;
          grid-area: Nome;
          margin: 4px 0;
          padding: 6px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 20px;
          border: 1px solid black;
          border-radius: 10px;
          button#AlterarNomeBtn {
            padding: 10px 16px;
            border: 1px dashed blue;
            border-radius: 6px;
            outline: none;
            background: none;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
              background-color: #00a7ca;
            }
            &:active {
              background-color: #75b1f7;
            }
          }
        }
        div.Estado {
          background-color: green;
          grid-area: Estado;
          ul {
            display: flex;
            flex-direction: column;
            li {
              margin-top: 4px;
              display: flex;
              align-items: center;
            }
          }
        }
        div.Tela {
          background-color: blue;
          grid-area: Imagem;
          position: relative;
          border: 1px solid black;
          width: 512px;
          height: 512px;
          border-radius: 10px;
          img {
            position: absolute;
            left: 0;
            top: 0;
            background: none;
            border-radius: 10px;
          }
        }
        div.BtnAcoes {
          background-color: orange;
          grid-area: BtnsAcoes;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          button {
            background: none;
            border: none;
            img {
              border: 1px solid black;
            }
          }
        }
        div.BtnLugar {
          background-color: yellow;
          grid-area: BtnsLugar;
          display: flex;
          align-items: center;
          justify-content: space-between;
          button {
            background: none;
            border: none;
            img {
              border: 1px solid black;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
